body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('https://static.wixstatic.com/media/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg/v1/fill/w_1130,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg');
    background-size: cover;
    background-position-y: center;
    position: relative;
    color: white;
    text-align: center;
    padding: 130px;
}

.titulo{
    font-size: 100px;
    z-index: 2;
    color: white;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: rgb(26, 31, 72);
}

h4{
    color: rgb(26, 31, 72);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.seccion {
    display: none;
}

.seccion.visible {
    display: block;
}

main p{
    width: 500px;
    height: auto;
    overflow-wrap: break-word;
    border: 1px solid #2c2c2c;
    padding: 10px;
    display: inline-block;
    margin: 20px auto;
    background-color: white;
    border-radius: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main h2{
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

main h3{
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.vene{
    align-items: center;
    text-align: center;
    position: relative;
}

.tecnica{
    margin-left: 400px;
    position: inherit;
    height: 300px;
    width: 250px;
    background-color: orange;
    text-align: center;
    align-items: center;
}
.tecnica h4{
    color: orange;
}

.basico{
    margin-left: 700px;
    margin-top: -320px;
    position: inherit;
    height: 300px;
    width: 250px;
    background-color: orangered;
    text-align: center;
    align-items: center;
}
.basico h4{
    color: orangered;
}

.diver{
    margin-left: 1000px;
    margin-top: -320px;
    position: inherit;
    height: 300px;
    width: 250px;
    background-color: red;
    text-align: center;
    align-items: center;
}
.diver h4{
    color: red;
}

.total{
    margin-left: 1300px;
    margin-top: -320px;
    position: inherit;
    height: 300px;
    width: 250px;
    background-color: rgb(157, 0, 34);
    text-align: center;
    align-items: center;
}
.total h4{
    color: rgb(157, 0, 34);;
}

.vene h3{
    color: white;
    font-size: 60px;
}

.vene l{
    font-size: 20px;
    color: white;
}

.ladrillo{
     position: absolute;
     margin-left: -600px;
}

.histo{
    margin-left:600px;
}

.humana{
    width: 500px;
    height: auto;
    overflow-wrap: break-word;
    border: 1px solid #2c2c2c;
    padding: 10px;
    display: inline-block;
    margin: 20px auto;
    background-color: white;
    border-radius: 25px;
}

.forma{
    margin-left: -630px;
}

.casa{
    position: absolute;
    margin-top: 180px;
}
.casa2{
    position: absolute;
    margin-top: 450px;
    margin-left: -300px;
    width: 600px;
}