body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.worldofwallpaper.com/media/catalog/product/cache/bc57d247ac6d77bb22848d0708c12165/h/l/hld551-abstract-faces-wallpaper-black-and-white-ae1.jpg');
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
    margin: 2em auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    text-align: justify;
}

a{
    text-decoration: none;   
    color: cornflowerblue;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 48%;
    margin-bottom: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-info {
    padding: 1em;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.yo{
    height: 80px;
    margin-top: -15px;
    margin-left: 37%;
    width: auto;
    position: absolute;
}